@model JikanAnimeSingle
@{
    ViewData["Title"] = Model.Data.Title ;
    var userAnimeDetails = ViewData["UserDetails"] as UserAnime;
}
@Html.AntiForgeryToken()

<div class="mt-4">
    <h4 class="text-wrap fw-bold">@Model.Data.Title</h4>
    @if(!String.IsNullOrEmpty(Model.Data.EnglishTitle)){<h6 class="text-wrap fw-semibold orange">@Model.Data.EnglishTitle</h6>}
</div>

<div>
    <div class="d-flex flex-column flex-lg-row gap-4 border-1 border-top border-white pt-2">
        <div class="w-100 flex-grow-1 justify-content-center justify-content-lg-start" style="max-width:14.1rem;">
            <img src="@Model.Data.Images.Jpg.ImageUrl" />

            <div class="d-flex flex-wrap gap-2">
                @if(Model.Data.Genres != null)
                {
                    @foreach(var genre in Model.Data.Genres)
                    {<span class="border-1 border-light rounded-2 p-2 mt-1 fw-semibold bg-orange" style="font-size:0.8rem;">@genre.Name</span> }
                }
            </div>

            <div class="d-flex gap-1 justify-content-evenly text-muted mt-1" style="font-size:0.75rem;">
                @if(Model.Data.Source != null){<span class="orange">Source: @Model.Data.Source</span>}
                @if(Model.Data.Episodes != null){<span class="orange"> Episodes: @Model.Data.Episodes </span>}
                @if(Model.Data.Type != null){<span class="orange"> @Model.Data.Type</span>}
            </div>
        </div>
        
  
        <div class="d-flex flex-column gap-1 flex-grow-1" style="max-width:30rem">
            @if (Model.Data.Trailer.embed_url != null)
            {
                <div class="ratio ratio-16x9 rounded overflow-hidden shadow-sm">
                    <iframe src="@Model.Data.Trailer.embed_url.Replace("autoplay=1", "autoplay=0")"
                    title="@Model.Data.Title Trailer"
                    allowfullscreen>
                    </iframe>   
                </div>            
            }

            <div class="w-100 d-flex justify-content-between gap-3 my-1 border border-light border-1 p-1" style="font-size:0.8rem">
                @if(Model.Data.Rank != null){ <span>Rank: @Model.Data.Rank</span>}
                 @if(Model.Data.Score != null){<span>Score: @Model.Data.Score</span>}
                @if(Model.Data.Season != null){<span class="text-capitalize"> Season: @Model.Data.Season @Model.Data.Year</span>}
            </div>

            <div class="d-flex gap-2 w-100 justify-content-between align-items-center border border-light border-1 p-1 mb-1">
                @if (!Convert.ToBoolean(ViewData["AddStatus"]))
                {
                    @* Add to List *@
                    <button class="btn btn-sm bg-orange flex-grow-1" id="addToListBtn" data-anime-id="@Model.Data.MalId">
                        Add to list
                    </button>                   
                    
                    @* Update Status *@
                    <select class="form-select form-select-sm list-dropdown" style="max-width:8rem;display:none;" name="status" id="status" data-anime-id="@Model.Data.MalId">
                        <option value="Watching" selected="@(userAnimeDetails?.WatchStatus == "Watching")">Watching</option>
                        <option value="Completed" selected="@(userAnimeDetails?.WatchStatus == "Completed")">Completed</option>
                        <option value="On_Hold" selected="@(userAnimeDetails?.WatchStatus == "On_Hold")">On Hold</option>
                        <option value="Dropped" selected="@(userAnimeDetails?.WatchStatus == "Dropped")">Dropped</option>
                        <option value="Plan_To_Watch" selected="@(userAnimeDetails?.WatchStatus == "Plan_To_Watch")">Plan to Watch</option>
                    </select>
                }
                else
                {
                    @* Update Status *@
                    <select class="form-select form-select-sm list-dropdown" style="max-width:8rem;" name="status" id="status" data-anime-id="@Model.Data.MalId">
                        <option value="Watching" selected="@(userAnimeDetails?.WatchStatus == "Watching")">Watching</option>
                        <option value="Completed" selected="@(userAnimeDetails?.WatchStatus == "Completed")">Completed</option>
                        <option value="On_Hold" selected="@(userAnimeDetails?.WatchStatus == "On_Hold")">On Hold</option>
                        <option value="Dropped" selected="@(userAnimeDetails?.WatchStatus == "Dropped")">Dropped</option>
                        <option value="Plan_To_Watch" selected="@(userAnimeDetails?.WatchStatus == "Plan_To_Watch")">Plan to Watch</option>
                    </select>
                    }

                @* Update Score *@
                <select class="form-select form-select-sm list-dropdown" style="max-width:7.5rem;"  name="score" id="score" data-anime-id="@Model.Data.MalId">
                    <option disabled selected="@(userAnimeDetails?.Score == 0 || userAnimeDetails?.Score == null)">
                        Select
                    </option>
                    <option value="1" selected="@(userAnimeDetails?.Score == 1)">1 (Terrible)</option>
                    <option value="2" selected="@(userAnimeDetails?.Score == 2)">2 (Awful)</option>
                    <option value="3" selected="@(userAnimeDetails?.Score == 3)">3 (Bad)</option>
                    <option value="4" selected="@(userAnimeDetails?.Score == 4)">4 (Poor)</option>
                    <option value="5" selected="@(userAnimeDetails?.Score == 5)">5 (Average)</option>
                    <option value="6" selected="@(userAnimeDetails?.Score == 6)">6 (Decent)</option>
                    <option value="7" selected="@(userAnimeDetails?.Score == 7)">7 (Good)</option>
                    <option value="8" selected="@(userAnimeDetails?.Score == 8)">8 (Great)</option>
                    <option value="9" selected="@(userAnimeDetails?.Score == 9)">9 (Excellent)</option>
                    <option value="10" selected="@(userAnimeDetails?.Score == 10)">10 (Masterpiece)</option>

                </select>

                @* Update Progress *@
                <div class="d-flex input-group input-group-sm" style="max-width:9rem;height: 31px;">
                    <span class="align-self-center ps-2 pe-1 m-0 border border-end-0 text-black bg-white rounded-start"
                          style="font-size:0.8rem; height: 31px; display: flex; align-items: center;">
                          Episodes:
                      </span>

                    <input class="form-control form-control-sm m-0 shadow-none px-2 border-start-0"
                           style="max-width:2.5rem; height: 31px;"
                           value="@(userAnimeDetails?.Progress ?? 0)"
                           type="number"
                           id="progress"
                           name="progress"
                           min="0"
                           max="@(Model.Data.Episodes ?? 9999)"
                           data-anime-id="@Model.Data.MalId"
                           data-duration="@Model.Data.Duration"
                           oninput="this.value = Math.max(0, Math.min(@(Model.Data.Episodes ?? 9999), parseInt(this.value) || 0))" />
                </div>
            </div>
        </div>
    </div>

    
    @if (!string.IsNullOrEmpty(Model.Data.Synopsis))
    {
    <div class="mt-5">
        <h5 class="br-orange"> Synopsis </h5>
        <p class="mx-2 small-pg">@Model.Data.Synopsis</p>
    </div>
    }

    @if (!string.IsNullOrEmpty(Model.Data.Background))
    {
        <div class="mt-5">
            <h5 class="br-orange"> Background </h5>
            <p class="mx-2 small-pg">@Model.Data.Background</p>
        </div>
    }
</div>