@model ProfileView
@{
    ViewData["Title"] = "Profile";
}

<div>
    <h5 class="mt-1 br-orange">Anime List</h5>

    <div class="my-3 p-3 rounded border w-75 mx-auto" style="background-color:#2D2D2D;">
        <div class="d-flex gap-4 mb-3">
            <span class="text-white">Duration: @Model.AnimeStats.Days Days</span>
            <span class="text-white">Average Score: @Model.AnimeStats.AverageScore </span>
            <span class="text-white">Total Entries: @Model.AnimeStats.TotalEntries</span>
            <span class="text-white">Total Episodes: @Model.AnimeStats.TotalEpisodes</span>
        </div>

        <div class="d-flex gap-3 mb-3 flex-wrap">
            <span style="font-size:0.9rem;" >Watching: @Model.AnimeStats.Watching</span>
            <span style="font-size:0.9rem;" >Completed: @Model.AnimeStats.Completed</span>
            <span style="font-size:0.9rem;">On Hold: @Model.AnimeStats.OnHold</span>
            <span style="font-size:0.9rem;">Plan to Watch: @Model.AnimeStats.PlanToWatch</span>
            <span style="font-size:0.9rem;" >Dropped: @Model.AnimeStats.Dropped</span>
        </div>
    </div>


    @if (Model.UserAnimes != null)
    {
        <table class="table table-dark table-hover" style="table-layout:fixed;"> 
            <colgroup>
                <col style="width: 10%;">
                <col style="width: 45%;">
                <col style="width: 15%;">
                <col style="width: 15%;">
                <col style="width: 15%;">
            </colgroup>

            <thead>
                <tr>
                    <th>Image</th>
                    <th>Anime Title</th>
                    <th>Score</th>
                    <th>Progress</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var userAnime in Model.UserAnimes)
                {
                    <tr class="position-relative">
                        <td>
                            <img class="object" style="width:3rem;height:5rem;" src="@userAnime.Anime.Image" alt="@userAnime.Anime.Title" />
                        </td>
                        <td class="text-wrap">
                            <a class="text-decoration-none orange stretched-link" asp-controller="Show" asp-action="Anime" asp-route-id="@userAnime.Anime.MalId">
                                @userAnime.Anime.Title
                            </a>
                        </td>
                        <td class="orange">
                            @userAnime.Score
                        </td>
                        <td class="orange">
                            @userAnime.Progress / @userAnime.Anime.TotalEpisodes
                        </td>
                        <td class="orange">
                            @userAnime.WatchStatus
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

<div>
    <h5 class="mt-1 br-orange">Manga List</h5>

    <div class="my-3 p-3 rounded border w-75 mx-auto" style="background-color:#2D2D2D;">
        <div class="d-flex gap-4 mb-3">
            <span class="text-white">Duration: @Model.MangaStats.Days Days</span>
            <span class="text-white">Average Score: @Model.MangaStats.AverageScore </span>
            <span class="text-white">Total Entries: @Model.MangaStats.TotalEntries</span>
            <span class="text-white">Total Chapters: @Model.MangaStats.TotalChapters</span>
        </div>

        <div class="d-flex gap-3 mb-3 flex-wrap">
            <span style="font-size:0.9rem;">Watching: @Model.MangaStats.Reading</span>
            <span style="font-size:0.9rem;">Completed: @Model.MangaStats.Completed</span>
            <span style="font-size:0.9rem;">On Hold: @Model.MangaStats.OnHold</span>
            <span style="font-size:0.9rem;">Plan to Watch: @Model.MangaStats.PlanToRead</span>
            <span style="font-size:0.9rem;">Dropped: @Model.MangaStats.Dropped</span>
        </div>
    </div>


    @if (Model.UserMangas  != null)
    {
        <table class="table table-dark table-hover" style="table-layout:fixed;">
            <colgroup>
                <col style="width: 10%;">
                <col style="width: 45%;">
                <col style="width: 15%;">
                <col style="width: 15%;">
                <col style="width: 15%;">
            </colgroup>

            <thead>
                <tr>
                    <th>Image</th>
                    <th>Manga Title</th>
                    <th>Score</th>
                    <th>Progress</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var userManga in Model.UserMangas)
                {
                    <tr class="position-relative">
                        <td>
                            <img class="object" style="width:3rem;height:5rem;" src="@userManga.Manga.Image" alt="@userManga.Manga.Title" />
                        </td>
                        <td class="text-wrap">
                            <a class="text-decoration-none orange stretched-link" asp-controller="Show" asp-action="Manga" asp-route-id="@userManga.Manga.MalId">
                                @userManga.Manga.Title
                            </a>
                        </td>
                        <td class="orange">
                            @userManga.Score
                        </td>
                        <td class="orange">
                            @userManga.Progress / @userManga.Manga.TotalChapters
                        </td>
                        <td class="orange">
                            @userManga.ReadStatus
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>