@model JikanMangaList;
@{
    ViewData["Title"] = "Manga Search";
}
<div>
    <h4 class="br-orange mt-3 pb-1">Manga Search</h4>
</div>

<div class="d-flex justify-content-center mt-2">
    <form class="form-inline my-2 my-lg-0 w-50" asp-controller="Search" asp-action="MangaSearch" method="get">
        <input class="form-control mr-sm-2 text-dark px-2 mt-1" style="border: 2px solid #FF7A00;background-color:#2D2D2D;" name="query" value="@ViewBag.Query" type="search" placeholder="Search" aria-label="Search">
    </form>
</div>

<div class="d-flex justify-content-center gap-2 flex-wrap mt-2">
    @if (Model.Data != null)
    {
        @foreach (var manga in Model.Data)
        {
            <a class="text-decoration-none" asp-controller="Show" asp-action="Manga" asp-route-id="@manga.MalId">
                <div class="h-auto flex-shrink-0 mt-2 mx-1" style="width:11rem;">
                    <img src="@manga.Images.Jpg.ImageUrl" style="width:11rem;height:16rem;" />
                    <div class="text-wrap">
                        <div class="text-white" style="font-size:0.8rem;margin-left:8px;">
                            @manga.Title
                        </div>
                    </div>
                </div>
            </a>
        }
    }

    <div>
        @if (Model?.Pagination != null)
        {
            <div class="d-flex justify-content-center gap-2 mt-4 mb-4">
                @if (Model.Pagination.CurrentPage > 1)
                {
                    <a class="btn"
                       style="background-color:#FF7A00;"
                       asp-controller="Search"
                       asp-action="MangaSearch"
                       asp-route-query="@ViewBag.Query"
                       asp-route-id="@(Model.Pagination.CurrentPage - 1)">
                        Previous Page
                    </a>
                }

                <span class="align-self-center text-white">
                    Page @Model.Pagination.CurrentPage of @Model.Pagination.LastVisiblePage
                </span>

                @if (Model.Pagination.HasNextPage)
                {
                    <a class="btn"
                       style="background-color:#FF7A00;"
                       asp-controller="Search"
                       asp-action="MangaSearch"
                       asp-route-query="@ViewBag.Query"
                       asp-route-id="@(Model.Pagination.CurrentPage + 1)">
                        Next Page
                    </a>
                }
            </div>
        }
    </div>
</div>